a,h1,h2,ul,li,div,p,body{margin: 0;padding: 0}

body{
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    font-size: 12px;
}

.bg_color{
    background-color: #DEDEDE;
    padding: 20px 20px;
}
.header{
     /*width: 100%;*/
    padding: 10px 20px;
    
    
    
}

.header h1{
    width: 194px;
    height: 40px;
    font-size: 0;
    background-image: url("../images/logo.png");
}

.bg_color .content{
    padding: 10px 20px;
    background-color: #fff;
    margin-bottom:10px; 
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #999;
}

.bg_color .content:hover{
    box-shadow: 4px 4px 2px #999;
}

.content h1{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 10px;
    border-left: 5px solid #ccc; 
}

.content p{
    text-indent: 2em;
    margin:12px 0;
}

.list{
    padding-left: 40px;
}
.list li{
    margin: 6px 0;
}


.footer{
    background-color: #333;
    color:#fff;
    padding-top: 30px;
    height: 200px;
}
.footer a{
    color: #fff;
}


.footer .line {
    list-style: none;
    display: block;
    text-align: center;
    margin: 10px 0;
    
}

.footer .line li{
    display: inline;
    padding-right:10px ;
}